In [1]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
import seaborn as sns

In [2]:
from __future__ import absolute_import, division, print_function, unicode_literals
import numpy as np
import pandas as pd
import os

In [3]:
train = pd.read_csv("data/Train_dataset.csv")
train.head()

,people_ID,Region,Gender,Occupation,Mode_transport,Disease,Age,FT/month,COVID_Infected,Infect_Prob
0,1,Bhubaneshwar,Female,Farmer,Public,Hypertension,68,2.0,No,49.135010
1,2,Bhubaneshwar,Female,Farmer,Walk,Diabetes,64,1.0,Yes,51.147880
2,3,Bhubaneshwar,Female,Cleaner,Public,None,19,1.0,Yes,73.224000
3,4,Bhubaneshwar,Female,Driver,Car,Coronary Heart Disease,33,1.0,No,48.779225
4,5,Bhubaneshwar,Female,Manufacturing,Car,Diabetes,23,1.0,Yes,87.868800

In [4]:
train.shape

(10714, 10)

In [5]:
train_1 = train.dropna()

In [6]:
train_1.shape

(9015, 10)

In [7]:
test = pd.read_csv("data/Test_dataset.csv")
test.head()

,people_ID,Region,Gender,Occupation,Mode_transport,Disease,Age,FT/month,COVID_Infected
0,5942,Delhi,Female,Driver,Public,Diabetes,52,1,No
1,18664,Delhi,Male,Legal,Walk,Diabetes,53,1,No
2,5603,Delhi,Female,Sales,Car,Diabetes,35,2,Yes
3,5649,Delhi,Female,Sales,Car,None,31,2,Yes
4,5099,Delhi,Female,Business,Car,Diabetes,51,1,Yes

In [8]:
test_1 = test.dropna()
test_1.shape

(14498, 9)

In [9]:
from sklearn import preprocessing
def cleanData(dataframe):
        df2 = dataframe
        df2 = df2.drop(['people_ID'], axis = 1)
        le = preprocessing.LabelEncoder()
        df2.Region = le.fit_transform(df2.Region.astype(str))
        df2.Gender = le.fit_transform(df2.Gender.astype(str))
        df2.Occupation = le.fit_transform(df2.Occupation.astype(str))
        df2.Mode_transport = le.fit_transform(df2.Mode_transport.astype(str))
        df2.Disease = le.fit_transform(df2.Disease.astype(str))
        df2.COVID_Infected = le.fit_transform(df2.COVID_Infected.astype(str))
        df2.Region = le.fit_transform(df2.Region)
        df2.Gender = le.fit_transform(df2.Gender)
        df2.Occupation = le.fit_transform(df2.Occupation)
        df2.Mode_transport = le.fit_transform(df2.Mode_transport)
        df2.Disease = le.fit_transform(df2.Disease)
        df2.COVID_Infected = le.fit_transform(df2.COVID_Infected)
        return df2

In [10]:
clean_train = cleanData(train_1)
clean_train.head()

,Region,Gender,Occupation,Mode_transport,Disease,Age,FT/month,COVID_Infected,Infect_Prob
0,1,0,4,1,2,68,2.0,0,49.135010
1,1,0,4,2,1,64,1.0,1,51.147880
2,1,0,1,1,3,19,1.0,1,73.224000
3,1,0,3,0,0,33,1.0,0,48.779225
4,1,0,6,0,1,23,1.0,1,87.868800

In [11]:
clean_test = cleanData(test_1)

In [12]:
clean_test.columns

Index(['Region', 'Gender', 'Occupation', 'Mode_transport', 'Disease', 'Age',
       'FT/month', 'COVID_Infected'],
      dtype='object')

In [13]:
x = clean_train.drop(['Infect_Prob'], axis=1)
y = clean_train.Infect_Prob
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [14]:
y.head()

0    49.135010
1    51.147880
2    73.224000
3    48.779225
4    87.868800
Name: Infect_Prob, dtype: float64

In [15]:
rf = RandomForestRegressor(n_estimators = 1000, random_state = 42)
rf.fit(X_train, y_train)

RandomForestRegressor(n_estimators=1000, random_state=42)

In [16]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

In [17]:
y_pred= list(rf.predict(X_test))

In [18]:
errors = abs(y_pred - y_test)
print('Mean Absolute Error:', round(np.mean(errors), 2), 'degrees.')

Mean Absolute Error: 4.81 degrees.

In [19]:
mape = 100 * (errors / y_test)
accuracy = 100 - np.mean(mape)
print('Accuracy:', round(accuracy, 2), '%.')

Accuracy: 91.03 %.

In [20]:
test_1

,people_ID,Region,Gender,Occupation,Mode_transport,Disease,Age,FT/month,COVID_Infected
0,5942,Delhi,Female,Driver,Public,Diabetes,52,1,No
1,18664,Delhi,Male,Legal,Walk,Diabetes,53,1,No
2,5603,Delhi,Female,Sales,Car,Diabetes,35,2,Yes
3,5649,Delhi,Female,Sales,Car,None,31,2,Yes
4,5099,Delhi,Female,Business,Car,Diabetes,51,1,Yes
...,...,...,...,...,...,...,...,...,...
14493,23737,Thiruvananthapuram,Male,Cleaner,Walk,Coronary Heart Disease,55,2,Yes
14494,11171,Thiruvananthapuram,Female,Clerk,Car,None,44,2,No
14495,23243,Thiruvananthapuram,Male,Business,Public,None,46,1,Yes
14496,11199,Thiruvananthapuram,Female,Driver,Car,Coronary Heart Disease,34,2,Yes
14497,10787,Thiruvananthapuram,Female,Driver,Public,Diabetes,27,0,Yes

In [32]:
test_data = [[5942,'Delhi','Male','Driver','Public','Diabetes',52,1,'Yes']]
test_dataframe = pd.DataFrame(test_data, columns =['people_ID','Region','Gender','Occupation','Mode_transport','Disease','Age','FT/month','COVID_Infected'], dtype = float) 
clean_test_data = cleanData(test_dataframe)
clean_test_data.to_csv(r'result/prob1.csv', index=False)
clean_test_data

,Region,Gender,Occupation,Mode_transport,Disease,Age,FT/month,COVID_Infected
0,0,0,0,0,0,52.0,1.0,0

In [28]:
testData = list(rf.predict(clean_test_data))

In [29]:
print(testData)

[49.04985630668961]

In [30]:
def priority(testData):
    if testData[0] < 30 :
        return 3
    elif 30 < testData[0] < 70 :
        return 2
    else :
        return 1

In [31]:
print("Your priority is :" ,priority(testData))

Your priority is : 2